{% extends 'base.html' %}
{% block content %}
    <form action="/create_game/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="create_game" value="true">
        <input type="checkbox" name="IA">Against AI?</input>
        <button type="submit" class="btn btn-primary">Create Game</button>
    </form>
    <h3>My games</h3>
    {% if games %}
        {% for game in games %}
            <li>{{ game.player_1.username }}'s game - Status : {{ game.game_state }} - ID : {{ game.id }} - <a href="/game/{{ game.id }}/" class="btn btn-primary">Join game</a> </li>
        {% endfor %}
    {% endif %}
{% endblock content %}