{% extends 'base.html' %}
{% block content %}
<h1>Bienvenue sur QIESX!</h1>
<div class="alert alert-danger" role="alert">
    <h2>ATTENTION! Ce site est héberger en http, veuillez utilisé des mots de passe nuls et propre au site, ou bien vous assurer que votre connexion soit sécurisée</h2>
</div>
<p>
    Qiesx est un jeu de conquête de territoire fortement inspiré de Qix!<br />
    Il a été créer dans le cadre d'un projet de développement d'intelligence artificelle par 3 étudiant de l'Henallux.<br />
    Franchement c'est stylé lache un pouce vert
</p>
<button type="button" class="btn btn-default btn-sm">
    <i class="fas fa-thumbs-up"></i>
</button>
{% endblock content %}
